<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>d3book</key>
	<array>
		<dict>
			<key>name</key>
			<string>暗黑简史</string>
			<key>books</key>
			<array>
				<dict>
					<key>bookname</key>
					<string>暗黑简史</string>
					<key>bookimage</key>
					<string>ahjs.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<integer>1000</integer>
					<key>bookcode</key>
					<string>ahjs</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>暗黑通史</string>
			<key>books</key>
			<array>
				<dict>
					<key>bookname</key>
					<string>天赋神权</string>
					<key>bookimage</key>
					<string>tfsq.png</string>
					<key>bookdescription</key>
					<string>自创世之初,高阶天堂的天使军团与燃烧地狱的恶魔洪流便陷入了决定一切生物命运的无尽之战中.这场争斗现在被带入了人类的居所--庇护之地之中.正义和邪恶为了争夺人类的灵魂,而秘密开始了一场战争,胜利的一方将赢得人类对他们的崇拜.这即是原罪之战--一场永远改变了人类命运的斗争.
在崔斯特瑞姆镇陷入无尽黑暗的三千年前,UldyssianDiomedes的儿子,不过是Seram村 的一个普通农民.突如其来的神秘事件打破了他宁静的田园生活.Uldyssian被误认为残忍的谋杀了两名旅行至此的传教士,因此他被迫逃离了他的家园, 并背负上了赎回自己.令他感到恐惧的是,他逐渐显现出一种人们难以想象的,陌生而奇怪的力量.现在,Uldyssian必须同他自身的力量相抗争,以避免 这可怕的力量将他的人性一点点吞噬.</string>
					<key>bookid</key>
					<integer>2000</integer>
					<key>bookcode</key>
					<string>tfsq</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>毒莽之鳞</string>
					<key>bookimage</key>
					<string>dmzl.png</string>
					<key>bookdescription</key>
					<string>自创世之初,高阶天堂的天使军团与燃烧地狱的恶魔洪流便陷入了决定一切生物命运的无尽之战中.这场争斗现在被带入了人类的居所--庇护之地(Sanctuary)之中.正义和邪恶为了争夺人类的灵魂,而秘密开始了一场战争,胜利的一方将赢得人类对他们的崇拜.这即是原罪之战--一场永远改变了人类命运的斗争.
虽然决定摧毁异端的三位一体教,Uldyssian并未对协助艾纳利尤斯--光明大教堂的神秘先知完成他的任务产生猜疑.艾纳利尤斯深深的被如何恢复庇护之地往日的辉煌所困扰,他试图冒险,利用Uldyssian同时击垮两大宗教.但是此时另一个人加入了游戏.他曾经的情人,恶魔莉莉丝,则试图将Uldyssian作为一枚棋子,将人类转化为Naphalem军队,一种神一般的存在.他们的力量远在任何天使或恶魔之上,将能击败所有生物使得莉莉丝成为一切的统治者.</string>
					<key>bookid</key>
					<integer>1000</integer>
					<key>bookcode</key>
					<string>ahjs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>蒙面先知</string>
					<key>bookimage</key>
					<string>mmxz.png</string>
					<key>bookdescription</key>
					<string>自创世之初,高阶天堂的天使军团与燃烧地狱的恶魔洪流便陷入了决定一切生物命运的无尽之战中.这场争斗现在被带入了人类的居所--庇护之地之中.正义和邪恶为了争夺人类的灵魂,而秘密开始了一场战争,胜利的一方将赢得人类对他们的崇拜.这即是原罪之战--一场永远改变了人类命运的斗争.
幕后由恶魔操纵的三位一体教最终被摧毁了.只剩光明大教堂和它神力超凡的领导者--先知,阻挡在了Uldyssian解放人性的道路之上.但先知的真正面目是离开天堂的大天使艾纳利尤斯,他将这个世界视作其无可争议的领地.面对这个不惜将庇护之地毁灭也不能让其旁落他人的奸诈之敌,Uldyssian并不知道还有别人也在觊觎这个世界.现在庇护之地无论对于燃烧地狱还是高阶天堂都已不再是秘密...天使和恶魔们开始了一场恶战,他们将不惜一切代价争夺它.</string>
					<key>bookid</key>
					<integer>1000</integer>
					<key>bookcode</key>
					<string>ahjs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>恶魔之灾</string>
					<key>bookimage</key>
					<string>emzz.png</string>
					<key>bookdescription</key>
					<string>创世之初，崇高天国的圣洁之灵与燃烧地狱的乌合之众卷入了一场关乎万物命运的无尽争斗之中。现在，这场争战已经波及到了人类王国……无论人类、恶魔还是天使都无法幸免……
一场本该是entsteig抵抗恶魔入侵的胜利却变成了大屠杀。只有siggard幸存下来，这个战士已记不得在那场战役的最后时刻所发生的事情。他的内心一片空白，那场屠杀使他产生了替被害者向黑暗军团复仇之念。在追杀那个残害他所爱之人的恶魔领主的同时，siggard也渐渐拼凑出了那场战斗的可怕真相……他发现他的噩梦才刚刚开始。</string>
					<key>bookid</key>
					<integer>1000</integer>
					<key>bookcode</key>
					<string>ahjs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>血之遗产</string>
					<key>bookimage</key>
					<string>xzyc.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<integer>1000</integer>
					<key>bookcode</key>
					<string>ahjs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>黑暗之路</string>
					<key>bookimage</key>
					<string>hazl.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<integer>1000</integer>
					<key>bookcode</key>
					<string>ahjs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>暗影王国</string>
					<key>bookimage</key>
					<string>aywg.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<integer>1000</integer>
					<key>bookcode</key>
					<string>ahjs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>蜘蛛之月</string>
					<key>bookimage</key>
					<string>zzzy.png</string>
					<key>bookdescription</key>
					<string>亘古以来，天使居住在高耸入云的天堂，魔鬼的乌合之众集结在烈焰翻腾的地狱，两大阵营为宇宙的命运进行着经年累月、了无止境的苦斗。如今．这一斗争延伸到了人界……使人类、魔鬼和天使都纠缠其间。受到噩梦的驱使，艾尔德瑞克·吉坦领主来到了一个神秘的墓穴遗址，打算唤醒自崔斯特瑞姆覆灭以来一直沉睡的一个邪魔。 受日渐强大的暗黑力量的吸引，谜一般的死灵法师扎尔偶然间发现了吉坦的阴谋，但全然不知这可怕的一切正是由自己的一个教友一手操控。当蜘蛛之月缓缓升起时，邪恶的魔鬼阿斯特洛伽准备往圣殿送出自己的爪牙……</string>
					<key>bookid</key>
					<integer>1000</integer>
					<key>bookcode</key>
					<string>ahjs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>赫拉迪姆</string>
					<key>bookimage</key>
					<string>hldm.png</string>
					<key>bookdescription</key>
					<string>赫拉迪姆兄弟会是一个神秘而又充满传奇色彩的教派，迪卡德·凯恩则被认为是赫拉迪姆兄弟会唯一幸存的成员。
赫拉迪姆的成员们曾在大天使泰瑞尔的召唤下集结，他们的神圣任务便是全力搜寻三大魔王并且击败他们，这些魔王包括：迪亚波罗（恐怖之王）、墨菲斯托（憎恨之王）和巴尔（毁灭之王），但那些已经是很久之前的事情了。几十年过去，赫拉迪姆的力量消失殆尽，他们的影响力已经逐渐式微。现在所有能够收集到的关于赫拉迪姆的历史、法术和智慧，都掌握在凯恩衰老的双手之间，凡人、高阶天堂、燃烧地狱的注意力开始集中在他的身上。
黑暗中，不知名的人们开始窃窃私语，声音低沉地讲述着那些关于古老恶魔的故事，讲述着恶魔的入侵——他们要将整个世界撕裂得千疮百孔。
在逐渐加剧的恐慌之中，迪卡德·凯恩发现了一些令人吃惊的信息，这些信息可能拯救世界，也可能将之彻底破坏：赫拉迪姆兄弟会中还有其他幸存者。他必须找到这些人，而且要搞明白他们为什么把自己藏起来。
当凯恩在搜寻赫拉迪姆兄弟会中那些迷失的成员时，他被推到了一个看起来根本不可能的盟友身边：莉娅，一个八岁的小女孩，她因为背负恶魔的诅咒而令人恐惧。她身上到底有什么秘密，她和预言中的世界末日有什么关系？如果还有其他活着的赫拉迪姆成员的话，他们会不会站出来抵抗灭亡的命运？迪卡德·凯恩有太多问题需要回答……
在为时已晚之前。</string>
					<key>bookid</key>
					<integer>1000</integer>
					<key>bookcode</key>
					<string>ahjs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>圣光风暴</string>
					<key>bookimage</key>
					<string>sgfb.png</string>
					<key>bookdescription</key>
					<string>当魔神落下天阶之后，高阶天堂渐渐复原。天使议会取得了黑暗灵魂石，并将这件诅咒宝物安放在银光之城的光辉之中，严加看守。
表面上重现平静祥和的天堂，却依旧暗流涌动。泰瑞尔成为了智慧领域的掌管者，他努力适应新的职位，却越来越觉得作为凡人的自己已无法在天使同胞之中立足，并且，他怀疑自己没有能力驾驭这个全新的角色。当他在自己的内心深处和天堂之中寻求安慰的时候，却感觉到黑暗灵魂石对他的古老家园造成了可怕的污染。在这个光明与优美音韵曾和谐共鸣的地方，一种不协调的杂音正在形成一重黑影。英普鲁斯和其他大天使都坚决反对移动或者摧毁黑暗灵魂石，泰瑞尔只好将天堂的命运寄托在凡间人类的身上……
于是，泰瑞尔在遥远的庇护之地聚集起人类的力量，重新建立了古老的赫拉迪姆组织，并交给这个组织一个不可能完成的任务：从天堂的核心之处偷走灵魂石。接收这份任务的勇士有斯托布里克的雅各，他曾经是正义的化身，天使神剑圣羽之辉的守护者；天禀非凡的魔法师夏娜；悍勇而虔诚的武僧米库洛；无畏的野蛮人斗士吉恩薇尔；还有扎尔，一名神秘的死灵法师。他们很快就发现，善良和邪恶的力量同时在追杀他们。这些英雄能够在天堂堕落为地狱之前团结一致，完成这个无比危险的任务吗？</string>
					<key>bookid</key>
					<integer>1000</integer>
					<key>bookcode</key>
					<string>ahjs</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>短篇小说</string>
			<key>books</key>
			<array>
				<dict>
					<key>bookname</key>
					<string>不屈者</string>
					<key>bookimage</key>
					<string>bqz.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>3000</real>
					<key>bookcode</key>
					<string>bqz</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>旅途终焉</string>
					<key>bookimage</key>
					<string>ltzy.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>3001</real>
					<key>bookcode</key>
					<string>ltzy</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>生魂</string>
					<key>bookimage</key>
					<string>sh.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>3002</real>
					<key>bookcode</key>
					<string>sh</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>行者</string>
					<key>bookimage</key>
					<string>xz.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>3003</real>
					<key>bookcode</key>
					<string>xz</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>萤火虫</string>
					<key>bookimage</key>
					<string>yhc.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>3004</real>
					<key>bookcode</key>
					<string>yhc</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>憎恨与戒律</string>
					<key>bookimage</key>
					<string>zhyjl.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>3005</real>
					<key>bookcode</key>
					<string>zhyjl</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>孤儿与珠宝匠</string>
					<key>bookimage</key>
					<string>geyzbj.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>3006</real>
					<key>bookcode</key>
					<string>geyzbj</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>麦德维克镇</string>
					<key>bookimage</key>
					<string>mdwkz.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>3007</real>
					<key>bookcode</key>
					<string>mdwkz</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>人生豪赌</string>
					<key>bookimage</key>
					<string>rshd.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>3008</real>
					<key>bookcode</key>
					<string>rshd</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>英武修会</string>
					<key>bookimage</key>
					<string>ywxh.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>3009</real>
					<key>bookcode</key>
					<string>ywxh</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>档案与日记</string>
			<key>books</key>
			<array>
				<dict>
					<key>bookname</key>
					<string>凯恩日记</string>
					<key>bookimage</key>
					<string>kerj.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>4000</real>
					<key>bookcode</key>
					<string>kerj</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>凯恩之书</string>
					<key>bookimage</key>
					<string>kezs.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>4001</real>
					<key>bookcode</key>
					<string>kezs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>泰瑞尔之书</string>
					<key>bookimage</key>
					<string>trezs.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>4002</real>
					<key>bookcode</key>
					<string>trezs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>末日预言</string>
					<key>bookimage</key>
					<string>mryy.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>4003</real>
					<key>bookcode</key>
					<string>mryy</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>官方漫画</string>
			<key>books</key>
			<array>
				<dict>
					<key>bookname</key>
					<string>避难所传说</string>
					<key>bookimage</key>
					<string>bnscs.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>5000</real>
					<key>bookcode</key>
					<string>bnscs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>正义之剑</string>
					<key>bookimage</key>
					<string>zyzj.png</string>
					<key>bookdescription</key>
					<string></string>
					<key>bookid</key>
					<real>5001</real>
					<key>bookcode</key>
					<string>zyzj</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
