<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>d3book</key>
	<array>
		<dict>
			<key>name</key>
			<string>暗黑简史</string>
			<key>books</key>
			<array>
				<dict>
					<key>bookname</key>
					<string>暗黑简史</string>
					<key>bookimage</key>
					<string>ahjs.png</string>
					<key>bookdescription</key>
					<string>自创世之初，高阶天堂的天使军团与烈焰地狱的恶魔大军爆发了一场永无止境的冲突，被称为永恒之战。经历了数个世代的相互征伐之后，一些天使与恶魔渐渐对无尽的战斗心生厌恶，他们试图寻找一个新的家园——一个他们可以彼此和平共存的地方。
通过使用一个叫“世界之石”的巨型神器的力量，他们创造了庇护之地，这是一个隐匿于天堂与地狱之间的新世界。</string>
					<key>bookid</key>
					<integer>1000</integer>
					<key>bookcode</key>
					<string>ahjs</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>暗黑通史</string>
			<key>books</key>
			<array>
				<dict>
					<key>bookname</key>
					<string>天赋神权</string>
					<key>bookimage</key>
					<string>tfsq.png</string>
					<key>bookdescription</key>
					<string>这个世界混沌初开的时候，只有极少数生灵知道庇护之地是作为天地间的一块避难所而存在，也只有他们了解世上不仅仅有天使与恶魔的存在，而且其中有些成员从开始便参与了庇护之所的创建。那些强势而令人胆寒的名字—— 艾纳利尤斯，迪亚波罗，拉斯玛，墨菲斯托和巴尔——当时还从未被凡尘俗世所知晓。
在这个无比单纯的年代，人们对高阶天堂与燃烧的地狱之间永无休止的战争一无所知，他们在奋斗中走向繁荣，生生世世繁衍不息。他们不知道，即便如此简单的去生活，天堂与地狱这两大阵营也很快就会觊觎他们的潜能，因此而爆发的冲突也许会绵延未来几百年。
尽管他们都如此无视庇护之地的可怕宿命，但乌迪西安——戴尔米迪斯之子——仍然可以说是对命运最无视的一个。即便如此，他终于还是会被卷入这场研究隐秘历史的学者们称作“原罪之战”的战争漩涡之中，而且无可躲避的被推到风口浪尖……</string>
					<key>bookid</key>
					<integer>2000</integer>
					<key>bookcode</key>
					<string>tfsq</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>毒莽之鳞</string>
					<key>bookimage</key>
					<string>dmzl.png</string>
					<key>bookdescription</key>
					<string>这个世界混沌初开的时候，只有极少数生灵知道庇护之地是作为天地间的一块避难所而存在，也只有他们了解世上不仅仅有天使与恶魔的存在，而且其中有些成员从开始便参与了庇护之所的创建。那些强势而令人胆寒的名字—— 艾纳利尤斯，迪亚波罗，拉斯玛，墨菲斯托和巴尔——当时还从未被凡尘俗世所知晓。
在这个无比单纯的年代，人们对高阶天堂与燃烧的地狱之间永无休止的战争一无所知，他们在奋斗中走向繁荣，生生世世繁衍不息。他们不知道，即便如此简单的去生活，天堂与地狱这两大阵营也很快就会觊觎他们的潜能，因此而爆发的冲突也许会绵延未来几百年。
尽管他们都如此无视庇护之地的可怕宿命，但乌迪西安——戴尔米迪斯之子——仍然可以说是对命运最无视的一个。即便如此，他终于还是会被卷入这场研究隐秘历史的学者们称作“原罪之战”的战争漩涡之中，而且无可躲避的被推到风口浪尖……</string>
					<key>bookid</key>
					<real>2001</real>
					<key>bookcode</key>
					<string>dmzl</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>蒙面先知</string>
					<key>bookimage</key>
					<string>mmxz.png</string>
					<key>bookdescription</key>
					<string>这个世界混沌初开的时候，只有极少数生灵知道庇护之地是作为天地间的一块避难所而存在，也只有他们了解世上不仅仅有天使与恶魔的存在，而且其中有些成员从开始便参与了庇护之所的创建。那些强势而令人胆寒的名字—— 艾纳利尤斯，迪亚波罗，拉斯玛，墨菲斯托和巴尔——当时还从未被凡尘俗世所知晓。
在这个无比单纯的年代，人们对高阶天堂与燃烧的地狱之间永无休止的战争一无所知，他们在奋斗中走向繁荣，生生世世繁衍不息。他们不知道，即便如此简单的去生活，天堂与地狱这两大阵营也很快就会觊觎他们的潜能，因此而爆发的冲突也许会绵延未来几百年。
尽管他们都如此无视庇护之地的可怕宿命，但乌迪西安——戴尔米迪斯之子——仍然可以说是对命运最无视的一个。即便如此，他终于还是会被卷入这场研究隐秘历史的学者们称作“原罪之战”的战争漩涡之中，而且无可躲避的被推到风口浪尖……</string>
					<key>bookid</key>
					<real>2002</real>
					<key>bookcode</key>
					<string>mmxz</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>恶魔之灾</string>
					<key>bookimage</key>
					<string>emzz.png</string>
					<key>bookdescription</key>
					<string>创世之初，崇高天国的圣洁之灵与燃烧地狱的乌合之众卷入了一场关乎万物命运的无尽争斗之中。现在，这场争战已经波及到了人类王国……无论人类、恶魔还是天使都无法幸免……
一场本该是entsteig抵抗恶魔入侵的胜利却变成了大屠杀。只有siggard幸存下来，这个战士已记不得在那场战役的最后时刻所发生的事情。他的内心一片空白，那场屠杀使他产生了替被害者向黑暗军团复仇之念。在追杀那个残害他所爱之人的恶魔领主的同时，siggard也渐渐拼凑出了那场战斗的可怕真相……他发现他的噩梦才刚刚开始。</string>
					<key>bookid</key>
					<real>2003</real>
					<key>bookcode</key>
					<string>emzz</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>血之遗产</string>
					<key>bookimage</key>
					<string>xzyc.png</string>
					<key>bookdescription</key>
					<string>……几乎发疯的士兵勉强站了起来。他注意到附近的高耸山区、丘陵，以及第一道划过天际的阳光。但是，这一切看起来都不再熟悉了；再也不像他与同伴们刚刚发现巴图克墓穴时一样了。诺瑞克向前踏了一步，想知道身在何处。但他每做一个动作，身上就传出一道令人不安的咯吱声。
诺瑞克低头看着，发现他不只是手上套着装甲。
【铠甲】。他环顾全身，眼光所及之处都是同样的血红色铠甲。他原本以为内心所受的惊吓与恐惧已经不可能再变得更糟了，但是在看到他全身所穿戴的东西之后，这个好不容易冷静下来的士兵却又几近发狂。他的双臂、身躯、双腿，都被血红色的金属甲片覆盖。更让人可笑的是，诺瑞克发现他甚至换上了巴图克那一双古老但仍旧耐用的皮靴。
巴图克……血之使者。巴图克，很显然是他的黑暗魔法救了这位无助的战士，但是代价却是纱登和发丝汀这两位好朋友的生命……</string>
					<key>bookid</key>
					<integer>-1</integer>
					<key>bookcode</key>
					<string>xzyc</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>黑暗之路</string>
					<key>bookimage</key>
					<string>hazl.png</string>
					<key>bookdescription</key>
					<string>Darrick Lang正在归乡的途中。多年前他离开了布拉威尔，以一位幸运地取得王国冠军的士兵身份前往更加广阔的大世界。如今Bramwell已不再是他当初背井离乡时的样子了。某些非常黑暗恐怖的东西正在诱惑着镇民，某些非常古老而具有耐心的东西正在将无辜者缠在一张充满恶意与亵渎的大网上。现在，这同样的力量正在呼唤着Darrick，并且他唯一的希望可能就是踏上同样危险的诅咒之路。</string>
					<key>bookid</key>
					<integer>-1</integer>
					<key>bookcode</key>
					<string>ahzl</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>暗影王国</string>
					<key>bookimage</key>
					<string>aywg.png</string>
					<key>bookdescription</key>
					<string>故事讲述肯特尔·杜蒙队长(Captain Kentril Dumon)和他的雇佣兵小队,跟随一名叫做柯夫·辛(Quov Tsin)的Vizjerei法师前来寻找失落的乌瑞城(Ureh).</string>
					<key>bookid</key>
					<integer>-1</integer>
					<key>bookcode</key>
					<string>ahjs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>蜘蛛之月</string>
					<key>bookimage</key>
					<string>zzzy.png</string>
					<key>bookdescription</key>
					<string>亘古以来，天使居住在高耸入云的天堂，魔鬼的乌合之众集结在烈焰翻腾的地狱，两大阵营为宇宙的命运进行着经年累月、了无止境的苦斗。如今．这一斗争延伸到了人界……使人类、魔鬼和天使都纠缠其间。受到噩梦的驱使，艾尔德瑞克·吉坦领主来到了一个神秘的墓穴遗址，打算唤醒自崔斯特瑞姆覆灭以来一直沉睡的一个邪魔。 受日渐强大的暗黑力量的吸引，谜一般的死灵法师扎尔偶然间发现了吉坦的阴谋，但全然不知这可怕的一切正是由自己的一个教友一手操控。当蜘蛛之月缓缓升起时，邪恶的魔鬼阿斯特洛伽准备往圣殿送出自己的爪牙……</string>
					<key>bookid</key>
					<integer>-1</integer>
					<key>bookcode</key>
					<string>zzzy</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>赫拉迪姆</string>
					<key>bookimage</key>
					<string>hldm.png</string>
					<key>bookdescription</key>
					<string>迪卡德·凯恩跟随那些脚印走到对面墙上的壁龛前。腐烂的木板在支架上摇摇欲坠，它们大概是这座古老图书馆仅存的残骸了。这个房间应该曾用来举行仪式，许多个世纪前，大量凡世之外的生物可能就从此处被召唤出来，也许这就是通往燃烧地狱的大门。所有的架子都是空荡荡的，凯恩在一小片木头下面发现了一个黄色的东西，他弯下腰，从那个角落里抽出一张卷曲的、霉迹斑斑的羊皮卷轴。
就在此时，不知什么东西从阴影里移动到他的右方。
他立刻转过身来，高举着手杖照亮四周。这时那黑影像拥有生命一般集结旋转，如同一滴落入清水的墨汁。与此同时，一阵如同被风从远方吹来的幽咽声音在空旷的房间里回荡起来，诡异得令他脖子后面的寒毛都竖了起来……</string>
					<key>bookid</key>
					<integer>-1</integer>
					<key>bookcode</key>
					<string>hldm</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>圣光风暴</string>
					<key>bookimage</key>
					<string>sgfb.png</string>
					<key>bookdescription</key>
					<string>高阶天堂
自太始之初，黑暗与光明的力量便陷入了永恒不息的争斗之中。无数个世纪里，我们的战争如同藏匿于密林中的野火，不时爆发成吞噬天地的火海烈焰。天使无数次击 退黑暗，黑暗却又无数次崛起，每一次都变得更加强大。当然，每一次，光明的守护者和高阶天堂的统治者们都能取得最终的胜利。
在末日浩劫中，我们愚蠢的自负蒙蔽了我们的双眼。迪亚波罗从灰烬中站起，伪装成一个孩子，爬过庇护之地，打碎了金刚大门。对他而言，胜利已经唾手可得。水晶穹顶和天使力量的源头全数落进了魔神的掌控之中。
直到人类的介入。
一个凡人制止了两个世界的毁灭。是奈非天伟大的勇气给予了我们力量，一举扭转战局。迪亚波罗落下天堂，庇护之地和高阶天堂由此而得到拯救。
黑暗不会如此轻易消褪。我们太急于宣告胜利了……</string>
					<key>bookid</key>
					<real>2009</real>
					<key>bookcode</key>
					<string>sgfb</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>短篇小说</string>
			<key>books</key>
			<array>
				<dict>
					<key>bookname</key>
					<string>不屈者</string>
					<key>bookimage</key>
					<string>bqz.png</string>
					<key>bookdescription</key>
					<string>‘当腥风吹起，屈树当折。’
佐塔怎么都忘却不了阿齐耶临别时的话语。过去几週以来，这些话紧盯着他的每一个动作。白天时，他师父的语音不过是一阵呢喃，但当夜幕低垂，这语音的声调变得灼热。
今晚也是如此……今晚，他知道自己将再一次受到考验。
风已扬起，呼啸在苟戈拉，彷彿神祇垂死吐出的冰霜气息。寒意刺过他青、绿、白三色的腰带，深噬入骨。多年来，他承担了浮天修院之外的削骨寒风，毫无半点惧意。但这阵风不一样。这风中带着一种急促，就好像森林中的诸神都因恐惧而骚动，在他心中填满了不安……</string>
					<key>bookid</key>
					<real>3000</real>
					<key>bookcode</key>
					<string>bqz</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>旅途终焉</string>
					<key>bookimage</key>
					<string>ltzy.png</string>
					<key>bookdescription</key>
					<string>穿戴铁手套的双手推开旅店前门，发出砰然巨响。一道道飞舞的沙尘涌入交谊室。瑞特的扫把停住动作，凝视着对方。在逐渐暗去的暮色之中，这男孩只能看到一个站在门口的轮廓。
双方沉默许久，只听到沙尘暴永无止尽的嗡鸣声响。
那个身形向前跨出一步，身上的重装甲发出声响，白色外衣从他的胸甲垂下，上面刻有奇异符号。可是真正吸引瑞特目光的还是他的武器。武器把手上连着一段短黑链，末端衔接着恐怖的带刺重鎚。这位男子甚至还携带一面巨大盾牌，而且盾牌比瑞特还高。男子每跨出一步，身上的重甲就压得旅店木头地板摇摇晃晃。那个身形的头部被厚重的头盔包住，他转头看向男孩。
瑞特过于害怕，根本连逃跑都忘了。所以他只是在原地呆呆看着对方……</string>
					<key>bookid</key>
					<real>3001</real>
					<key>bookcode</key>
					<string>ltzy</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>生魂</string>
					<key>bookimage</key>
					<string>sh.png</string>
					<key>bookdescription</key>
					<string>一如往常地，战争在破晓时分拉开序幕。
贝纽与其他来自七石族的巫医们如黑豹般迅速且安静地潜入了特干泽的心脏地带。只有细微的骨骸撞击声与摇晃的金属护符能让人惊觉他们的存在。他们赤裸的身上有着白、黄、红的彩绘，并以明亮的博凯羽毛装饰，他们的身体混杂着鲜明的丛林气息。
翠绿色的天空很快地变得阴沉，将矮树丛埋没到无尽的黑暗中。贝纽竖起了他的耳朵专注于四周的声音，四周的动静……任何在这人类猎捕行动中所发出的信号。
异迦尼·巴威，灵魂收割者，已经降临。
这是贝纽的第一场仪式之战，而他的心跳早已如雷震如鼓。来自五丘族与云谷族的敌对巫医们，也正如贝纽与他的部族，受到高阶祭司的呼唤而来到这荒野的某处，或许就在附近，进行着狩猎……</string>
					<key>bookid</key>
					<real>3002</real>
					<key>bookcode</key>
					<string>sh</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>行者</string>
					<key>bookimage</key>
					<string>xz.png</string>
					<key>bookdescription</key>
					<string>他死去的姊妹会在日落时来。总在日落时来。
天色渐暗，影子拉长的近夜时分，他伫立看着太阳消失在群山之后。晚风的轻响会在这时候被缓慢、拖沓的双脚磨地声给取代。她的脚……冰冷而苍白，残破的肌腱和断折的白骨在无数哩的旅程中被岩石磨穿。这和克尔在那天走了多远、度过多少河流或攀越多少峭壁无关。她总在日落时来。
拖沓的脚步靠近时，这高大的男人正忙于生火。自从他进入夏佛荒原后，火种的资源就一直很充足。在吃了数周的冰冷鹿肉干后，克尔试着想象温暖的食物能够带给他一点安慰。但他知道这种尝试只是枉然。那蹒跚的步伐总会带来一股沁人的寒气，冰寒而恐怖的触感在他皮肤上流淌着，拍打着。他们刚刚好在火光边缘的那片黑暗停驻……</string>
					<key>bookid</key>
					<real>3003</real>
					<key>bookcode</key>
					<string>xz</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>萤火虫</string>
					<key>bookimage</key>
					<string>yhc.png</string>
					<key>bookdescription</key>
					<string>请你原谅，只因关于那秘术师有很多事可说，而我是唯一说得清楚她来龙去脉的人。这是属于我一个人的重担，犹如我接着必须做的决定。故事的结局并非什么大秘密，你可以从我们身边这些碎石和残垣上看出来，也流传在每个人嘴中低诉着的流言里。 
只要牵涉到魔法，任何事物都是不单纯的，千万记得不论你看到或听到什么，都只是冰山一角。
尽管我在这床上渐渐康复，医师也保证我能够活命，但我没其他事好做，只能细数日渐模糊的往事，寻找预示了这场大灾难的先兆。我比任何人都熟知她，甚至比她更瞭解她自己，只是她永远不愿承认这是事实。她或许是我们这时代最强大的法师。她的心地纯洁，一心行善，但她的年轻和聪明才智让她充满愚蠢的念头，却又无法被击败。她会打破每一条规矩，永远分不清&apos;不能&apos;和&apos;不该&apos;的区别。打从我们多年前初会那时，她就是这个样子……</string>
					<key>bookid</key>
					<real>3004</real>
					<key>bookcode</key>
					<string>yhc</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>憎恨与戒律</string>
					<key>bookimage</key>
					<string>zhyjl.png</string>
					<key>bookdescription</key>
					<string>维拉闻到一里外腐尸的臭味。
狩魔猎人来到坎德拉斯时，尽管乌云蔽日，但空气温暖。此处曾是霍尔布鲁克的一个穷困小农庄，现在已然成为废弃的鬼城。或者看起来是如此；浓浊的腐臭味说明原本的居民都还在，只是没有生命。
维拉的导师乔森，伫立在村庄的中心点，若有所思地看着成堆的残骸：四散的残垣断瓦、外翻的石块与泥土。
他穿戴着召唤狩魔猎人的装束。 披挂其上的半身铠甲，隐隐折射出柔和的光线。他的双弓弩垂在大腿边，随手可得。他的兜帽朝下，披风在狂风中啪啪作响……</string>
					<key>bookid</key>
					<real>3005</real>
					<key>bookcode</key>
					<string>zhyjl</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>孤儿与珠宝匠</string>
					<key>bookimage</key>
					<string>geyzbj.png</string>
					<key>bookdescription</key>
					<string>“我在周城首次虎落平阳，备受侮辱、遭人侵夺。我身无分文、衣不蔽体、颜面扫地。我身陷泥淖，自生自灭。总有人说我走运，说我虽然当时亲历劫难，却能全身而退。”─阿卜杜?哈兹尔《仙塞记事》。</string>
					<key>bookid</key>
					<real>3006</real>
					<key>bookcode</key>
					<string>geyzbj</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>麦德维克镇</string>
					<key>bookimage</key>
					<string>mdwkz.png</string>
					<key>bookdescription</key>
					<string>一位士兵举起火把，向前倾身眯着眼睛查看，皮衣咯吱作响。手上火把的火光让整座果树林里的阴影不停舞动，在树丛间摇曳，仿佛那些黑影正四处滑动躲避星光。时值初秋，异常冷冽的强风从头顶刮过，撼动树叶及枝干形成的树冠，绞绳上的七具尸体也跟着缓缓摇晃。</string>
					<key>bookid</key>
					<real>3007</real>
					<key>bookcode</key>
					<string>mdwkz</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>人生豪赌</string>
					<key>bookimage</key>
					<string>rshd.png</string>
					<key>bookdescription</key>
					<string>天空下着雨，在卫斯马屈雨天湿滑的街道上，妮莉莎?纳托利步履维艰地走着，夜色愈发昏暗，灯光在细雨中散发诡谲光辉。比起城中最近出没的怪物，她此时更担心这异常寒冷的天气，浓雾凝成细细雨丝，许久不曾消散，让街变得湿滑危险。即使身上的豪华羊毛大衣让她不会受冻，淋雨行路还是让她觉得颜面扫地、愤恨不平。</string>
					<key>bookid</key>
					<real>3008</real>
					<key>bookcode</key>
					<string>rshd</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>英武修会</string>
					<key>bookimage</key>
					<string>ywxh.png</string>
					<key>bookdescription</key>
					<string>悦纳苦痛为客，汝不应长赖久住，惟汝与吾同在，吾必以上宾待之。在此室内，汝只知祥和，且待吾等任务完成，此后汝须离去。时机未到，吾暂将汝视为旧识。</string>
					<key>bookid</key>
					<real>3009</real>
					<key>bookcode</key>
					<string>ywxh</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>档案与日记</string>
			<key>books</key>
			<array>
				<dict>
					<key>bookname</key>
					<string>凯恩日记</string>
					<key>bookimage</key>
					<string>kerj.png</string>
					<key>bookdescription</key>
					<string>自从恶魔领主--暗黑破坏神，墨菲斯托和巴尔入侵庇护所世界，发动妄图屈服人类的灵魂为邪恶意志效力的暴乱已经过去了二十年。即使当年正面与恶魔交锋的战士们，如今也已渐渐淡忘了。
当迪卡德·凯恩回到崔斯特瑞姆大教堂的废墟寻求击败新的恶魔势力的线索时，一团象征着厄运的烈火从天而降，而降落点正是当时暗黑破坏神入侵世界的入口所在。这团火焰重新唤醒了远古的恶魔们，同时召唤着庇护所的英雄们来保卫人类世界，再次抵抗正不断壮大的炎炙地狱的力量。
这就是迪卡德·凯恩，最后的赫拉迪姆人，解密者、引领者、先知。掌握着远古的知识，通晓击败邪恶的方法。

这本札记显然出自迪卡德·凯恩之手，它记录了庇护所世界在迪亚波罗浩劫中所经历的诸多事件。</string>
					<key>bookid</key>
					<real>4000</real>
					<key>bookcode</key>
					<string>kerj</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>凯恩之书</string>
					<key>bookimage</key>
					<string>kezs.png</string>
					<key>bookdescription</key>
					<string>天堂与地狱的战斗（末日之战）在人类出现之前就已经开始，延续了数千年，其时天使和恶魔中都英雄辈出，，这两帮人谁也奈何不了谁，于是死伤无数。其中Diablo（迪亚波罗）、Baal（巴尔）、和Mephisto（墨菲斯托）是地狱最高统治者，魔神三位一体，掌握恐惧、破坏和憎恶之力。</string>
					<key>bookid</key>
					<integer>-1</integer>
					<key>bookcode</key>
					<string>kezs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>泰瑞尔之书</string>
					<key>bookimage</key>
					<string>trezs.png</string>
					<key>bookdescription</key>
					<string>赫拉迪姆，我们即将翻开人类历史的新篇章。千百年来，人类一直在天使与恶魔的阴影下苟活。幸运时，他们被视而不见；不幸时，则被视为创世乐章中的不和谐的音符，或者成为了影响这场永恒之战进程的兵器。</string>
					<key>bookid</key>
					<real>4002</real>
					<key>bookcode</key>
					<string>trezs</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>官方漫画</string>
			<key>books</key>
			<array>
				<dict>
					<key>bookname</key>
					<string>避难所传说 狂暴</string>
					<key>bookimage</key>
					<string>bnscs1.png</string>
					<key>bookdescription</key>
					<string>漫画讲述的是野蛮人Renit和巫师Cairo为了对抗邪恶，寻找着传说中的“NAZ之手”，而在旅途中，他们遇到了正和邪恶交战的游侠Hale和保卫着村庄，但内心深处隐藏着邪恶的德鲁伊Azgar…战士们在这片正义与邪恶混淆着的大陆上展开了他们的传奇故事</string>
					<key>bookid</key>
					<real>5000</real>
					<key>bookcode</key>
					<string>bnscs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>避难所传说 纳泽之手</string>
					<key>bookimage</key>
					<string>bnscs2.png</string>
					<key>bookdescription</key>
					<string>漫画讲述的是野蛮人Renit和巫师Cairo为了对抗邪恶，寻找着传说中的“NAZ之手”，而在旅途中，他们遇到了正和邪恶交战的游侠Hale和保卫着村庄，但内心深处隐藏着邪恶的德鲁伊Azgar…战士们在这片正义与邪恶混淆着的大陆上展开了他们的传奇故事</string>
					<key>bookid</key>
					<real>5000</real>
					<key>bookcode</key>
					<string>bnscs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>避难所传说 仇恨的新娘</string>
					<key>bookimage</key>
					<string>bnscs3.png</string>
					<key>bookdescription</key>
					<string>漫画讲述的是野蛮人Renit和巫师Cairo为了对抗邪恶，寻找着传说中的“NAZ之手”，而在旅途中，他们遇到了正和邪恶交战的游侠Hale和保卫着村庄，但内心深处隐藏着邪恶的德鲁伊Azgar…战士们在这片正义与邪恶混淆着的大陆上展开了他们的传奇故事</string>
					<key>bookid</key>
					<real>5000</real>
					<key>bookcode</key>
					<string>bnscs</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>正义之剑 第一卷</string>
					<key>bookimage</key>
					<string>zyzj1.png</string>
					<key>bookdescription</key>
					<string>暗黑破坏神3前奏性质的漫画作品《正义之剑》，全套共五卷，讲述了北方少年雅各布（Jacob） 因被控谋杀而被迫逃离故乡，在流亡途中在上古预言的指引下，在被大天使泰瑞尓之剑一劈两半的山脉下的沙漠洞窟中，雅各布解开了他的命运真相，并由此引发的系列故事。</string>
					<key>bookid</key>
					<real>5001</real>
					<key>bookcode</key>
					<string>zyzj</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>正义之剑 第二卷</string>
					<key>bookimage</key>
					<string>zyzj2.png</string>
					<key>bookdescription</key>
					<string>暗黑破坏神3前奏性质的漫画作品《正义之剑》，全套共五卷，讲述了北方少年雅各布（Jacob） 因被控谋杀而被迫逃离故乡，在流亡途中在上古预言的指引下，在被大天使泰瑞尓之剑一劈两半的山脉下的沙漠洞窟中，雅各布解开了他的命运真相，并由此引发的系列故事。</string>
					<key>bookid</key>
					<real>5001</real>
					<key>bookcode</key>
					<string>zyzj</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>正义之剑 第三卷</string>
					<key>bookimage</key>
					<string>zyzj3.png</string>
					<key>bookdescription</key>
					<string>暗黑破坏神3前奏性质的漫画作品《正义之剑》，全套共五卷，讲述了北方少年雅各布（Jacob） 因被控谋杀而被迫逃离故乡，在流亡途中在上古预言的指引下，在被大天使泰瑞尓之剑一劈两半的山脉下的沙漠洞窟中，雅各布解开了他的命运真相，并由此引发的系列故事。</string>
					<key>bookid</key>
					<real>5001</real>
					<key>bookcode</key>
					<string>zyzj</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>正义之剑 第四卷</string>
					<key>bookimage</key>
					<string>zyzj4.png</string>
					<key>bookdescription</key>
					<string>暗黑破坏神3前奏性质的漫画作品《正义之剑》，全套共五卷，讲述了北方少年雅各布（Jacob） 因被控谋杀而被迫逃离故乡，在流亡途中在上古预言的指引下，在被大天使泰瑞尓之剑一劈两半的山脉下的沙漠洞窟中，雅各布解开了他的命运真相，并由此引发的系列故事。</string>
					<key>bookid</key>
					<real>5001</real>
					<key>bookcode</key>
					<string>zyzj</string>
				</dict>
				<dict>
					<key>bookname</key>
					<string>正义之剑 第五卷</string>
					<key>bookimage</key>
					<string>zyzj5.png</string>
					<key>bookdescription</key>
					<string>暗黑破坏神3前奏性质的漫画作品《正义之剑》，全套共五卷，讲述了北方少年雅各布（Jacob） 因被控谋杀而被迫逃离故乡，在流亡途中在上古预言的指引下，在被大天使泰瑞尓之剑一劈两半的山脉下的沙漠洞窟中，雅各布解开了他的命运真相，并由此引发的系列故事。</string>
					<key>bookid</key>
					<real>5001</real>
					<key>bookcode</key>
					<string>zyzj</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
