<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterList</key>
	<array>
		<string>引述</string>
		<string>第一章 灵魂之夜</string>
		<string>第二章 偶遇</string>
		<string>第三章 天启与悲痛</string>
		<string>第四章 背叛</string>
		<string>第五章 计划与旅行</string>
		<string>第六章 抵达与挫折</string>
		<string>第七章 残暴与恶魔</string>
		<string>第八章 警报
</string>
		<string>第九章 天启</string>
		<string>第十章 战役
</string>
		<string>第十一章 清算</string>
		<string>尾声
</string>
	</array>
</dict>
</plist>
