<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterList</key>
	<array>
		<string>I</string>
		<string>II</string>
		<string>III
</string>
		<string>IV</string>
		<string>V
</string>
	</array>
</dict>
</plist>
