<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterList</key>
	<array>
		<string>序 言</string>
		<string>第一章 流浪者酒馆，卡尔蒂姆</string>
		<string>第二章 崔斯特姆：数星期之后</string>
		<string>第三章 死灵法师</string>
		<string>第四章 天使议会：七周以前</string>
		<string>第五章 盗贼会议</string>
		<string>第六章 逃往新崔斯特姆</string>
		<string>第七章 屠牛旅馆
</string>
		<string>第八章 圣杯：数个星期以前</string>
		<string>第九章 发现</string>
		<string>第十章 毁灭者</string>
		<string>第二部 通往威斯特玛之路</string>
		<string>第十二章 布兰威尔的卫士们</string>
		<string>第十三章 铁匠铺
</string>
		<string>第十四章 指挥官纳尔</string>
		<string>第十五章 楚里克的巢穴</string>
		<string>第十六章 白骨恶魔</string>
		<string>第十七章 攻击</string>
		<string>第十八章 希卡莱</string>
		<string>第十九章 神圣毁灭者</string>
		<string>第二十章 高阶天堂</string>
		<string>第二十一章 神圣秩序大教堂</string>
		<string>第二十二章 对圣殿骑士的进攻</string>
		<string>第二十三章 失落之城</string>
		<string>第二十四章 风暴前的平静</string>
		<string>第二十五章 不毛之地</string>
		<string>第二十六章 沼泽上的攻击</string>
		<string>第二十七章 洞窟</string>
		<string>第二十八章 勇气大厅</string>
		<string>第二十九章 高阶天堂</string>
		<string>第三十章 卫兵</string>
		<string>第三十一章 命运图书馆
</string>
		<string>第三十二章 希望花园</string>
		<string>第三十三章 战斗开始</string>
		<string>第三十四章 致命的遭遇</string>
		<string>第三十五章 正义法庭</string>
		<string>第三十六章 铁拳中的囚禁</string>
		<string>第三十七章 银光侍卫</string>
		<string>第三十八章 黑色灵魂石</string>
		<string>第三十九章 裁决之环</string>
		<string>第四十章 为了友人的牺牲</string>
		<string>第四十一章 天使议会堂</string>
		<string>第四十二章 奈非天的回归</string>
		<string>尾声 守护者</string>
	</array>
</dict>
</plist>
