<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterList</key>
	<array>
		<string>第一节</string>
		<string>第二节</string>
		<string>第三节</string>
		<string>第四节</string>
		<string>第五节</string>
		<string>第六节</string>
		<string>第七节</string>
	</array>
</dict>
</plist>
